.name-button {
	font-family: Calibri;
	font-size: 30px;
}

span {
	font-weight: bold;
	color: #6f88a7;
}

.btn {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

p {
	font-size: 20px;
}


.welcome-large {
	font-size: 60px;
}


.section-title {
	margin-bottom: 0 !important;
}

.col-md-6 {
	padding-top: 30px;
}

h1 {
	font-family: Calibri;
}

span {
	font-weight: bold;
	color: #6f88a7;
}

.g-recaptcha > div {
	margin: 0 auto;
}



